<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <!-- semantic.ui CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.css" />


    <title>{% block title %}商品系統{% endblock title %}</title>
</head>

<body>
    <div class="container">
        {% block content %}
        <div class="ui menu" margin-top="50px">
            <div class="header item">
                <img src="/media/navHead.png"></img>
            </div>
            <a class="item" href="#"> 首頁 </a>
            <a class="item" href="#"> 商店 </a>
            <a class="item" href="#"> 購物車 </a>
            <a class="item" href="#"> 關於 </a>

            <!-- ##### SignUp and LogIn ##### -->
            <div class="right menu">
                <div class="item">
                    <div class="ui button">註冊</div>
                </div>
                <div class="item">
                    <div class="ui primary button">登入</div>
                </div>
            </div>
        </div>
        <!-- /navbar -->
        {% endblock content %}
        <!-- /container -->
    </div>
    {% block js-foot %}
    <!-- jQuery first, then Bootstrap JS and Semantic-ui -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.1/semantic.min.js"></script>
    {% endblock js-foot %} {% block footer %}{% endblock footer %}
</body>
<!--
░░░░░░░░░░░░░▄███▄▄▄
░░░░░░░░░▄▄▄██▀▀▀▀███▄
░░░░░░░▄▀▀░░░░░░░░░░░▀█
░░░░▄▄▀░░░░░░░░░░░░░░░▀█     /
░░░█░░░░░▀▄░░▄▀░░░░░░░░█    /
░░░▐██▄░░▀▄▀▀▄▀░░▄██▀░▐▌   /
░░░█▀█░▀░░░▀▀░░░▀░█▀░░▐▌  /
░░░█░░▀▐░░░░░░░░▌▀░░░░░█  \    YEEEEEEEEEEEE!!!!!!
░░░█░░░░░░░░░░░░░░░░░░░█   \
░░░░█░░▀▄░░░░▄▀░░░░░░░░█    \
░░░░█░░░░░░░░░░░▄▄░░░░█
░░░░░█▀██▀▀▀▀██▀░░░░░░█
░░░░░█░░▀████▀░░░░░░░█
░░░░░░█░░░░░░░░░░░░▄█
░░░░░░░██░░░░░█▄▄▀▀░█
░░░░░░░░▀▀█▀▀▀▀░░░░░░█
░░░░░░░░░█░░░░░░░░░░░░█
-->

</html>
