{% extends 'posts/base.html' %}
{% block title %}
  {{ title }} | {{ block.super }}
{% endblock title %}

{% block content %}
  {{ block.super }}

  {% load carton_tags %}
  {% get_cart as cart %}
  <h1><i class="shop icon"></i> 購物車 </a></h1>
  <table class="table table-inverse">
    <thead>
      <tr>
        <th class="col-md-1">移除</th>
        <th class="col-md-6">商品名稱</th>
        <th class="col-md-3">款式</th>
        <th class="col-md-1">數量</th>
        <th class="col-md-1">單價</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.items %}
      <tr>
        <td class="col-md-1">
          <button class="circular negative ui icon button" onclick="delCart({{ item.product.id }})"><i class="minus icon"></i></button>
        </td>
        <td class="col-md-6">
              <img class="ui top aligned rounded tiny image" src="{{MEDIA_URL}}/{{ item.product.product.image }}">
              <span value="P{{ item.product.product.id }}-D{{ item.product.id }}">　{{ item.product.product.name }}</span>
        </td>
        <td class="col-md-3">{{ item.product }}</td>
        <td class="col-md-1">{{ item.quantity }}</td>
        <td class="col-md-1 text-left">$ {{ item.product.price }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  <hr>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <button class="btn btn-success btn-lg btn-block"> 結帳 </button>
    </div>
  </div>
</table>
  <script type="text/javascript">
    function delCart(objID){
      window.location= "remove/?id="+objID;
    }
  </script>
{% endblock content %}
