{# products/templates/products/store.html #} {% extends 'products/base.html' %} {% block title %}MMCB商品列表 | {{ block.super }}{% endblock title %} {% block content %}

<!-- ##### Semantic-UI Cards #### -->
<div class="ui special cards">
    <div class="ui four stackable cards">
        {% for product in AllProduct %} {% if product.is_display %}
        <div class="ui centered card">

            <div class="blurring dimmable image">
                <div class="ui inverted dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted pink button" data-toggle="modal" data-target="#UMC_Modal{{product.id}}">Add Cart</div>
                        </div>
                    </div>
                </div>
                <img src="/media/{{ product.image }}">
            </div>

            <div class="content">
                <a class="header">{{ product.name }}</a>
                <div class="meta">
                    <span class="date">在 {{ product.date }} 加入</span>
                </div>
                <!-- ##### 縮排成四行文字 #### -->
                <div class="description" style='overflow : hidden; text-overflow: ellipsis;
										display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;'>{{ product.notes }}</div>
            </div>

            <div class="extra content">
                <a><i class="gift icon"></i> 成團數量：{{ product.raiser }} </a>
            </div>

        </div>
        {% endif %} {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $('.special.cards .image').dimmer({
        on: 'hover'
    });
</script>

<!-- ##### Add Cart Form #### -->
<form class="form-horizontal" role="form" method="post" action="/add/">
    {% for product in AllProduct %} {% if product.is_display %}
    <!-- Modal -->
    <div class="modal fade" id="UMC_Modal{{product.id}}" role="dialog">
        <div class="modal-dialog ">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" value="ProductName">{{product.name}}</h4>
                </div>
                <div class="modal-body">
                    {{ product.notes }}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>樣式(Type)</th>
                                <th>尺寸(Size)</th>
                                <th>價錢(Price)</th>
                                <th>數量(Quantity)</th>
                            </tr>
                        </thead>
                        <tbody>
                          ProductId: {{ product.id }}
                            {% for detail in product.details.all %}
                            <!-- <p>TypeId: {{ details.id }}</p>
                            <p>size: {{ details.size }}</p>
                            <p>price: {{ details.price }}</p> -->

                            <tr>
                                <td>
                                    <select class="form-control" id="{{product.name}}" name="Type">
                                        {% for color in product.colors.all %}
                                        <option>ColorId{{color.id}} {{color.color}}</option>
                                        {% empty %}
                                        <option>OneType</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td class="disabled">
                                    <div class="content">{{ detail.size }}</div>
                                </td>
                                <td>
                                    <div class="content">{{ detail.price }}</div>
                                </td>
                                <td>
                                    <select class="form-control" id="{{item.name}}" name="quantity">
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button>
                    <button type="button" class="btn btn-success">
                        加入購物車 &raquo;
                    </button>
                </div>

            </div>
        </div>
    </div>
    {% endif %} {% endfor %}
</form>
{% endblock content %}
