{% extends 'members/base.html' %}
{% block title %}{{ title }} | {{ block.super }}{% endblock title %}

{% block content %} {{ block.super }}
{% if request.user.personalinfo is None %}
<div class="ui success large message">
  <div class="header">使用者已註冊成功. </div>
  <p>請點擊「資料編輯」新增內容</p>
</div>
{% else %}
<table class="ui celled table">
  <thead>
    <tr>
      <th colspan=3>個人資料 (Personal Information)</th>
    </tr>
  </thead>
  <tbody class="center aligned">
    <tr>
      <td class="five wide">Facebook姓名</td>
      <td colspan=2 class="left aligned">{{ request.user.socialaccount_set.all.0.extra_data.name }}</td>
    </tr>
    <tr>
      <td class="five wide">姓名</td>
      <td colspan=2 class="left aligned">{{ request.user.personalinfo.name }}</td>
    </tr>
    <tr>
      <td>性別</td>
      <td colspan=2 class="left aligned">{{ request.user.personalinfo.get_gender_display }}</td>
    </tr>
    <tr>
      <td>生日</td>
      <td colspan=2 class="left aligned">{{ request.user.personalinfo.birthday }}</td>
    </tr>
    <tr>
      <td>手機</td>
      <td colspan=2 class="left aligned">{{ request.user.personalinfo.phone }}</td>
    </tr>
    <tr>
      <td>信箱</td>
      <td colspan=2 class="left aligned">{{ request.user.personalinfo.email }}</td>
    </tr>
    <tr class="warning">
      <td>地址1</td>
      <td colspan=2 class="left aligned">{{ request.user.personalinfo.addresses_set.all.0 }}</td>
    </tr>
    <tr class="warning">
      <td>地址2</td>
      <td colspan=2 class="left aligned">{{ request.user.personalinfo.addresses_set.all.1 }}</td>
    </tr>
    <tr class="warning">
      <td>匯款帳號/無摺號碼</td>
      <td>{{ request.user.personalinfo.accounts_set.all.0 }}</td>
      <td>{{ request.user.personalinfo.accounts_set.all.1 }}</td>
    </tr>
    <tr class="warning">
      <td>全家店鋪號</td>
      <td>{{ request.user.personalinfo.familynumber_set.all.0 }}</td>
      <td>{{ request.user.personalinfo.familynumber_set.all.1 }}</td>
    </tr>
  </tbody>
</table>
</div>
{% endif %}
{% endblock content %}
