{% extends 'members/base.html' %}
{% block title %}{{ title }} | {{ block.super }}{% endblock title %}

{% block content %}
{{ block.super }}
<div class="ui piled segment">
  <table class="ui celled table">
    <thead>
      <tr class="center aligned">
        <th>購買時間</th>
        <th>商品名稱/商品編號</th>
        <th>商品總額</th>
        <th>商品總數量</th>
        <th colspan="2">訂單管理 / 狀態</th>
        <!-- <th>訂單狀況</th> -->
      </tr>
    </thead>
    <tbody>
      {% for order in order_list %}
      <tr class="center aligned" data-href="{% url 'member:shoppinglist' %}{{ order.number }}">
        <td>{{ order.order_date }}</td>
        <td><a href="{% url 'member:shoppinglist' %}{{order.number}}">{{ order.number }}</a></td>
        <td>${{ order.total }}</td>
        <td>{{ order.order_date }}</td>
        <td>{{ order.get_status_display }}</td>
        {% if order.status == 'UP' %}<td><i class="large money middle aligned icon"></i></td>
        {% elif order.status == 'PA' %}<td><i class="large alarm outline middle aligned icon"></i></td>
        {% elif order.status == 'PC' %}<td><i class="large checkmark middle aligned icon"></i></td>
        {% elif order.status == 'WS' %}<td><i class="large archive middle aligned icon"></i></td>
        {% elif order.status == 'SN' %}<td><i class="large shipping middle aligned icon"></i></td>
        {% elif order.status == 'AB' %}<td><i class="large trash outline middle aligned icon"></i></td>
        {% elif order.status == 'CA' %}<td><i class="large reply middle aligned icon"></i></td>
        {% elif order.status == 'AC' %}<td><i class="large remove middle aligned icon"></i></td>
        {% elif order.status == 'AD' %}<td><i class="large trash middle aligned icon"></i></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}

{% block js-foot %}
{{ block.super }}
<script type="text/javascript">
// jQuery(document).ready(function($) {
//     $(".center.aligned").click(function() {
//         window.document.location = $(this).data("href");
//     });
// });
</script>
{% endblock js-foot %}

{% block footer %}
{{ block.super }}
{% endblock footer %}
