{% extends 'members/base.html' %}
{% block title %}{{ title }} | {{ block.super }}{% endblock title %}

{% block content %}
{{ block.super }}
<div class="ui grid">
  <div class="eight wide column">
    <div class="ui segment">
      {% load crispy_forms_tags %}
      {% crispy form %}
    </div>
  </div>
  <div class="eight wide column">
    <table class="ui compact celled definition table">
        <thead class="full-width">
          <tr>
            <th colspan=2>原始個人資料 (Personal Information)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="four wide">姓名（收件人）</td>
            <td>{{ request.user.personalinfo.name }}</td>
          </tr>
          <tr>
            <td>性別</td>
            <td>{{ request.user.personalinfo.get_sexual_display }}</td>
          </tr>
          <tr>
            <td>生日</td>
            <td>{{ request.user.personalinfo.birthday }}</td>
          </tr>
          <tr>
            <td>電話</td>
            <td>{{ request.user.personalinfo.phone }}</td>
          </tr>
          <tr>
            <td>住址</td>
            <td>{{ request.user.personalinfo.address }}</td>
          </tr>
          <tr>
            <td>信箱</td>
            <td>{{ request.user.personalinfo.email }}</td>
          </tr>
          <tr>
            <td>銀行帳號後五碼</td>
            <td>{{ request.user.personalinfo.accounts }}</td>
          </tr>
          <!-- <tr>
            <td>儲值金</td>
            <td>{{ request.user.personalinfo.money }}</td>
          </tr> -->
        </tbody>
      </table>
  </div>
</div>
{% endblock content %}

{% block js-foot %}
{{ block.super }}
<script type="text/javascript">
$('.ui.checkbox').checkbox('is checked')
</script>
{% endblock js-foot %}

{% block footer %}
{{ block.super }}
{% endblock footer %}
