{% extends 'base.html' %}
{% block content %}{{ block.super }}
<div class="ui three steps">
  <div class="step">
    <i class="truck icon"></i>
    <div class="content">
      <div class="title">Shipping</div>
      <div class="description">Choose your shipping options</div>
    </div>
  </div>
  <div class="active step">
    <i class="payment icon"></i>
    <div class="content">
      <div class="title">Billing</div>
      <div class="description">Enter billing information</div>
    </div>
  </div>
  <div class="disabled step">
    <i class="info icon"></i>
    <div class="content">
      <div class="title">Confirm Order</div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js-foot %}
{{ block.super }}
    <script type="text/javascript">
    </script>
{% endblock js-foot %}

{% block footer %}
{{ block.super }}
{% endblock footer %}
