{% extends 'base.html' %}
{% block content %}{{ block.super }}
<div class="ui three steps">
  <div class="step" id="cart_step">
    <i class="shop icon"></i>
    <div class="content">
      <div class="title">購物車</div>
      <div class="description">MyCart</div>
    </div>
  </div>
  <div class="active step" id="ordercomfirm_step">
    <i class="payment icon"></i>
    <div class="content">
      <div class="title">訂單確認</div>
      <div class="description">Confirm Order</div>
    </div>
  </div>
  <div class="disabled step" id="orderinfo_step">
    <i class="info icon"></i>
    <div class="content">
      <div class="title">訂單資訊</div>
      <div class="description">MyOrder</div>
    </div>
  </div>
</div>
{% if errors %}
<div class="ui error message">
  <i class="close icon"></i>
  <div class="header">錯誤警告</div>
  <ul class="list">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock content %}

{% block js-foot %}
{{ block.super }}
{% endblock js-foot %}

{% block footer %}
{{ block.super }}
{% endblock footer %}
