{% extends 'checkout/base.html' %}
{% block title %}{{ title }} | {{ block.super }}{% endblock title %}

{% block content %}
{{ block.super }}
<div class="ui positive message">
  <div class="header">你已成功購買 </div>
  <p>恭喜你，你已成功購買以下商品</p>
</div>
<div class="ui segments">
  <div class="ui horizontal segments">
    <div class="ui center aligned segment">
      <p>訂單編號：{{ myorder.number }}</p>
    </div>
    <div class="ui center aligned segment">
      <p>買家：{{ myorder.shopper }}</p>
    </div>
    <div class="ui center aligned segment">
      <p>購買日期：{{ myorder.order_date }}</p>
    </div>
  </div>
  <div class="ui clearing segment">
    <div class="ui floated buttons">
      <a href="{% url 'member:shoppinglist' %}"><button class="ui green basic button">我的購物清單</button></a>
    </div>
  </div>
  <div class="ui segment">
    <table class="ui celled table" id='goodsTable'>
      <thead>
        <tr class="center aligned">
          <th>商品名稱/商品編號</th>
          <th>商品單價</th>
          <th>商品數量/商品總價</th>
          <th>運費</th>
          <th>結帳總金額</th>
          <th>訂單狀況</th>
        </tr>
      </thead>
      <tbody>
        {% for good in myorder.sold_goods.all %}
        <tr class="center aligned">
          <!-- <td class="left aligned">　{{ good.product }} ({{ good }})</td> -->
          <td class="left aligned">
            <a class="ui big image label">
              <img src="{{MEDIA_URL}}/{{ good.product.image }}"> {{ good.product }}
              <div class="detail">{{ good }}</div>
            </a>
          </td>
          <td id="{{ good.id }}" name="tdPrice">{{ good.price }}</td>
          <td name="tdQtySum">{{ myorder.order_notes_nonono  }}</td>
          {% if forloop.first %}
          <td class="middle aligned" rowspan="{{myorder.sold_goods.all|length}}">${{ myorder.freight }}</td>
          <td class="middle aligned" rowspan="{{myorder.sold_goods.all|length}}">${{ myorder.total }}</td>
          <td class="middle aligned" rowspan="{{myorder.sold_goods.all|length}}">{{ myorder.get_status_display }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="ui segment">
    <div class="ui warning message">
      <div class="header"><i class="warning icon"></i>
        您選擇使用7-11取貨付款服務，請注意以下取貨注意事項：</div><br/>
      ．到貨時，系統將發手機簡訊與email通知您取件時間。<br/>
      ．請務必於<span class="style2">7天內</span>至您所指定的門市取貨。<br/>
      ．若逾期未領，貨品將直接退還給賣家，您的帳號將累積一次未取貨次數。<br/>
      ．配送資料是定時與超商作資料交換，如遇通知卻取不到貨的情況，可利用<a href="https://eservice.7-11.com.tw/E-Tracking/search.aspx">超商系統</a>查詢。
    </div>
    <div class="ui info message">
      <i class="close icon"></i>
      <div class="header">賣家所提供的匯款帳戶：</div>
      <ol class="ui list">
        <li value=" * ">銀行名稱與代號：中國信託 (822)
          <ol>
            <li value=" - ">戶名：劉秋婕</li>
            <li value=" - ">銀行帳號：5325-4026-4159</li>
          </ol>
        </li></br>
        <li value=" * ">銀行名稱與代號：郵局(700)
          <ol>
            <li value=" - ">戶名：劉秋婕</li>
            <li value=" - ">銀行帳號：0031005-1502435</li>
          </ol>
        </li>
      </ol>
    </div>
  </div>
</div>

{% endblock content %}

{% block js-foot %}
{{ block.super }}
<script type="text/javascript">
$(document).ready(function(){
  document.getElementsByClassName("step")[0].setAttribute("class", "step");
  document.getElementsByClassName("step")[1].setAttribute("class", "step");
  document.getElementsByClassName("step")[2].setAttribute("class", "active step");
  var j = "{{ myorder.order_notes }}";
  var j = j.replace(/&#39;/g, "'");
  var j = j.replace(/'/g, '"');
  var qppJson = jQuery.parseJSON( j );
  var priceNL = document.getElementsByName("tdPrice");
  var qtysumNL = document.getElementsByName("tdQtySum");
  for (i = 0; i <	priceNL.length; i++) {
    for (j=0; j<qppJson.length; j++){
      if (qppJson[j].product_pk == priceNL[i].id){
        qtysumNL[i].innerHTML = qppJson[j].quantity + " / $" + qppJson[j].price*qppJson[j].quantity
      }
    }
  }
});
</script>
{% endblock js-foot %}

{% block footer %}
{{ block.super }}
{% endblock footer %}
