{% extends 'posts/base.html' %} {% block title %}{{ title }} | {{ block.super }}{% endblock title %} {% block content %} {{ block.super }} {% load crispy_forms_tags %}
<div class="ui clearing segment">
    <h1 class="ui left floated header"> {{ title }} </h1>
    <h4 class="ui horizontal divider header"><i class="edit icon"></i> Edit Product </h4>
    <form enctype="multipart/form-data" method="post">
      {% crispy form %}
      {% crispy detail_formset %}
      <button type="submit" class="btn btn-primary">更新</button>
    </form>
</div>
{% endblock content %}
