{% extends 'posts/base.html' %} {% block title %}{{ title }} | {{ block.super }}{% endblock title %} {% block content %} {{ block.super }} {% load crispy_forms_tags %}
<div class="ui clearing segment">
    <h1 class="ui left floated header"> {{ title }} </h1>
    <h4 class="ui horizontal divider header"><i class="edit icon"></i> Edit Product </h4>
    <form enctype="multipart/form-data" method="post">
        {% crispy form %}
        {% crispy detail_formset %}
        <button type="submit" class="btn btn-primary">更新</button>
    </form>
</div>
{% endblock content %} {% block js-foot %}{{ block.super }}
<script type="text/javascript">
    function ProductDelete() {
      var delAddress = window.location.href.replace("edit", "Dontdelete");
        $('.ui.basic.modal')
            .modal({
              // blurring: true,
              onApprove: function(){
                window.location.href=delAddress;
              }
            })
            .modal('show');
    }
</script>
{% endblock js-foot %} {% block footer %}{{ block.super }}
<!-- Modal -->
<div class="ui small modal" id="PDModal">
    <i class="close icon"></i>
    <div class="header">
        刪除商品
    </div>
    <div class="image content">
        <div class="description">
          <p>您真的確定要刪除此商品嗎?</p>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            取消
        </div>
        <div class="ui red approve right labeled icon button">
            刪除確定
            <i class="remove icon"></i>
        </div>
    </div>
</div>

<div class="ui basic modal">
  <i class="close icon"></i>
  <div class="header">
    刪除商品
  </div>
  <div class="image content">
    <div class="image">
      <!-- <i class="remove circle icon"></i> -->
      <!-- <i class="remove circle outline icon"></i> -->
      <i class="trash icon"></i>
      <!-- <i class="trash outline icon"></i> -->
    </div>
    <div class="description">
      <p>您真的確定要刪除此商品嗎?</p>
    </div>
  </div>
  <div class="actions">
    <div class="two fluid ui inverted buttons">
      <div class="ui cancel red basic inverted button">
        <i class="remove icon"></i>
        取消
      </div>
      <div class="ui ok green basic inverted button">
        <i class="checkmark icon"></i>
        刪除確定
      </div>
    </div>
  </div>
</div>
{% endblock footer %}
