{% extends 'posts/base.html' %}
{% block title %}
  {{ title }} | {{ block.super }}
{% endblock title %}

{% block content %}
  {{ block.super }}
  <div class="ui clearing segment">
      <h1 class="ui left floated header"> {{ title }} </h1>
      <h4 class="ui horizontal divider header"><i class="write icon"></i> Edit Product </h4>
      <form class="form-horizontal" method='POST' action=''>{% csrf_token %}
          <div class="form-group">
              <div class="ui horizontal segments">
                  <div class="ui green segment">
                      <label>新增商品目標：</label>
                      <select class="form-control" name="selOption" id="objSel">
                          <option disabled selected value> -- 請選擇 -- </option>
                          {% for name in object_list %}
                            <option value={{name.id}}>{{ name }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="ui center aligned blue segment">
                      <label for="example-text-input" class="col-form-label" style="float:left;">新增內容方式：</label>
                      <div class="col-md-12">
                          <label class="radio-inline">
                              <input class="radio" type="radio" name="selRadio" onclick="javascript:SelectCheck({{input_list}});" id="radioS1" value="S1" disabled>[顏色]－[尺寸]－[價錢]</label>
                          <label class="radio-inline">
                              <input class="radio" type="radio" name="selRadio" onclick="javascript:SelectCheck({{input_list}});" id="radioS2" value="S2" disabled>[顏色 ＆ 價錢] － 尺寸</label>
                          <label class="radio-inline">
                              <input class="radio" type="radio" name="selRadio" onclick="javascript:SelectCheck({{input_list}});" id="radioS3" value="S3" disabled>[尺寸 ＆ 價錢] － 顏色</label>
                      </div>
                  </div>
                  <div class="ui center aligned yellow segment">
                      <button type="button" class="circular ui massive yellow icon button" id="copyBtn" onclick="CopyInputValue($('input[name=selRadio]:checked').val());" disabled>
                          <i class="icon copy"></i>
                      </button>
                  </div>
                  <div class="ui center aligned red segment">
                      <button type="button" class="circular ui massive red icon button" id="eraseBtn" onclick="ClearAllValue($('input[name=selRadio]:checked').val())" disabled>
                          <i class="icon erase"></i>
                      </button>
                  </div>
              </div>
          </div>
          {% if errors %}
          <div class="col md 12">
              <div class="ui error message">
                  <div class="header">您提交的內容有一些錯誤 </div>
                  <ul class="list">
                      {% for e in errors %}
                        <li>{{e}}</li>
                      {% endfor %}
                  </ul>
              </div>
          </div>
          {% endif %}
          <div class="ui divider"></div>
          <div class="col-md-12 col-xs-12" style="display:none" id="S1">
              <ul class="list-group">
                  <!-- Numeric for loop in Django templates: http://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates -->
                  {% for i in "0123456789ABC" %}
                    <li class="list-group-item col-md-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-4 col-xs-4">
                                <label for="detail">顏色</label>
                                <input type="text" class="form-control" name="S1color">
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label for="detail">尺寸</label>
                                <input type="text" class="form-control" name="S1size">
                            </div>
                            <div class="col-md-4 col-xs-4">
                                <label for="detail">價錢</label>
                                <input type="text" class="form-control" name="S1price">
                            </div>
                        </div>
                    </li>
                  {% endfor %}
              </ul>
          </div>

          <div class="col-md-12 col-xs-12" style="display:none" id="S2">
              <ul class="list-group col-md-8 col-xs-8">
                  {% for i in "0123456789ABC" %}
                    <li class="list-group-item col-md-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6">
                                <label for="detail">顏色</label>
                                <input type="text" class="form-control" name="S2color">
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label for="detail">價錢</label>
                                <input type="text" class="form-control" name="S2price">
                            </div>
                        </div>
                    </li>
                  {% endfor %}
              </ul>
              <ul class="list-group col-md-4 col-xs-4">
                  {% for i in "0123456789ABC" %}
                    <li class="list-group-item col-md-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                <label for="detail">尺寸</label>
                                <input type="text" class="form-control" name="S2size">
                            </div>
                        </div>
                    </li>
                  {% endfor %}
              </ul>
          </div>

          <div class="col-md-12 col-xs-12" style="display:none" id="S3">
              <ul class="list-group col-md-8 col-xs-8">
                  {% for i in "0123456789ABC" %}
                    <li class="list-group-item col-md-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-6 col-xs-6">
                                <label for="detail">尺寸</label>
                                <input type="text" class="form-control" name="S3size">
                            </div>
                            <div class="col-md-6 col-xs-6">
                                <label for="detail">價錢</label>
                                <input type="text" class="form-control" name="S3price">
                            </div>
                        </div>
                    </li>
                  {% endfor %}
              </ul>
              <ul class="list-group col-md-4 col-xs-4">
                  {% for i in "0123456789ABC" %}
                    <li class="list-group-item col-md-12 col-xs-12">
                        <div class="form-group">
                            <div class="col-md-12 col-xs-12">
                                <label for="detail">顏色</label>
                                <input type="text" class="form-control" name="S3color">
                            </div>
                        </div>
                    </li>
                  {% endfor %}
              </ul>
          </div>
          <h2 class="ui horizontal divider header"> 結束 </h2>
          <button type='submit' class="ui right floated green basic labeled icon huge button"><i class="checkmark icon"></i>新增商品內容</button>
      </form>
  </div>
  {% for item in lst %}
    <span>{{item}}</span>
  {% endfor %}
{% endblock content %}

{% block js-foot %}
  {{ block.super }}
  <script type="text/javascript">
      var adr = location.pathname;
      var patt = /\d+/g;
      $("select[name$='selOption']").children().each(function(){
            if($(this).val() == adr.match(patt)){
              $(this).attr('selected', true);
              $("input[name$='selRadio']").removeAttr("disabled");
            }
          })
      $("select[name$='selOption']").change(function(){
          $("input[name$='selRadio']").removeAttr("disabled");
      })
      $("input[type$='text']").keypress(function(){
          $("#copyBtn").removeAttr("disabled");
      })
      $("input[name$='selRadio']").change(function(){
          $("#eraseBtn").removeAttr("disabled");
      })

      function ClearAllValue(section) {
          var list = ['color', 'size', 'price'];
          // for(i=1; i<4; i++){    // For clearing each section
              for(j=0; j<list.length; j++){
                  $("input[name$='" + section + list[j] + "']").each(function() {
                      $(this).val('');
                  });
              }
          // }
      }
      function SetInputValue(itemList, section) {
          if(itemList != null){
              var list = [section+'color', section+'size', section+'price'];
              for(i=0; i<list.length; i++){
                  var count = 0;
                  $("input[name$='" + list[i] + "']").each(function() {
                      $(this).val(itemList[i][count]);
                      count ++;
                  })
              }
          }
      }
      function CopyInputValue(inputSection) {
          var section = ['S1', 'S2', 'S3'];
          var list = [inputSection+'color', inputSection+'size', inputSection+'price'];
          if(section.indexOf(inputSection) != -1){
              var itemList = [];
              for(i=0; i<list.length; i++){    // Save values in itemList
                  var tmpList = [];
                  $("input[name$='" + list[i] + "']").each(function() {
                      tmpList.push($(this).val());
                  });
                  itemList.push(tmpList);
              }
              for(j=0; j<section.length; j++){    // Set values from itemList into others.
                  if(section[j] != inputSection){
                      SetInputValue(itemList, section[j]);
                  }
              }
              alert('複製成功');
          }else alert('複製失敗');
      }

      function SelectCheck(itemList) {
          if (document.getElementById('radioS1').checked) {
              document.getElementById('S1').style.display = 'block';
              document.getElementById('S2').style.display = 'none';
              document.getElementById('S3').style.display = 'none';
              SetInputValue(itemList, 'S1');    // Auto set values what user typed when user enter any Error and redirect back.
          } else if (document.getElementById('radioS2').checked) {
              document.getElementById('S1').style.display = 'none';
              document.getElementById('S2').style.display = 'block';
              document.getElementById('S3').style.display = 'none';
              SetInputValue(itemList, 'S2');
          } else {
              document.getElementById('S1').style.display = 'none';
              document.getElementById('S2').style.display = 'none';
              document.getElementById('S3').style.display = 'block';
              SetInputValue(itemList, 'S3');
          }
      }
  </script>
{% endblock js-foot %}
